@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* GENERAL STYLES */
body{
  font-family: 'Titillium Web', sans-serif;
  font-size:16px;
}

h1, h3{font-weight: 700;}
h2, h5{font-weight:400}
a{
  color: rgb(43, 166, 203);
}
a:hover{color:#2795b6;}

.btn-link{color: rgb(43, 166, 203);}
.btn-link:hover{color:#2795b6;}

.row{
  margin-top:1em;
}

.row form{
  min-width:100%;
  justify-content: start;
}

.row form .form-group{
  margin-right:20px;
}

.container, .container-fluid{
  margin-top:62px;
}

.nav-pills .nav-link.active{
  background:  #E98C44;
}

.btn-outline-alt{
  border:1px solid  #E98C44;
  color: #E98C44;
}

.btn-outline-alt:hover{
  border:1px solid  #E98C44;
  background:#E98C44;
  color: white;
}

.alt{
  background: linear-gradient(90deg, #EFB55E 0%, #F4D16F 49.48%, #EFB55E 100%);
}

.alt2{background:  #E98C44;}

.alt2:hover{
  background: #EFB55E;
}

.navbar{
  border-bottom:5px solid #F39A23;
}

.navbar, .navbar-light{
  background-color: #1d1d1d;
  color:white;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{color:white;}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{color:white;}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color:white;
  border-bottom:2px solid #F39A23;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color:white;
}

.basic-nav-dropdown .dropdown-item.active, .basic-nav-dropdown .dropdown-item:active{
  background-color:white;
}

footer{
  background-color:#1d1d1d;
  color:white;
  padding:2em 0;
  margin-top:60px;
}

.partners .col img{width:100%;}

footer .container{margin-top:0;}

footer .container .row{margin-top:0}

/* SIDEBAAR */
.sidebar{
  background: linear-gradient(0deg, #FFF7DD, #FFF7DD);
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 36px;
  bottom: 60px;
  
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  padding: 0.8em;
}

.bm-item .list-group-item{
  /* color:#E98C44; */
  border-bottom: 1px solid #F4D16F;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.modal-body .container{margin-top:0}

/* WELCOME MODAL STYLES */
.tab-pane img{width:100%;}

.pagination{
  width:100%;
  align-items: center;
  justify-content: center;
}

/* [role="tablist"]{
  background-color: palevioletred;
  
} */

/* DASHBOARD STYLES */

.card{
  transition:ease-in-out 0.2s all;
}
.card-columns a{
  color:black;
}

.card:hover{
  /* font-size: 3em; */
  pointer:cursor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-columns a:hover{
  text-decoration: none;
}

/* DATA PAGE STYLES */

.dataDesc{
  margin-top:50px;
  border: 1px solid rgba(0,0,0,.125);
  padding:50px 20px;
  justify-content: center;
  align-items: center;
}
.notebook{
  margin-top:50px;
  border: 1px solid rgba(0,0,0,.125);
  padding:50px 20px;
  justify-content: center;
  align-items: center;
}
.tab-content .row{
  margin:10px 0 10px 0;
}

.graphControls form{
  justify-content: flex-end;
}

.line{
  content: "";
  position:absolute;
    display: block;
    /* margin: 0px 0 auto -250px; */
    height: calc(100% - 400px);
    width: 2px;
    background: #e72918;
    -webkit-border-radius: 2.5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2.5px;
    -moz-background-clip: padding;
    border-radius: 2.5px;
    background-clip: padding-box;
}

.audioData{
  padding-left:50px;
  padding-right:50px;
}

.audioData img{width:100%;}

.audioData audio{
  width: 100%;
}

.graph{
  width:100%;
  text-align:center;
}